.presentation-image {
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.one {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.four,
.three,
.two {
    -ms-flex-preferred-size: calc(100% - 0.5rem);
    flex-basis: calc(100% - 0.5rem);
}

@media (min-width: 576px) {
    .four,
  .three,
  .two {
        max-width: calc(50% - 0.5rem);
        -ms-flex-preferred-size: calc(50% - 0.5rem);
        flex-basis: calc(50% - 0.5rem);
    }
}

@media (min-width: 992px) {
    .four,
  .three {
        max-width: calc(33% - 0.5rem);
        -ms-flex-preferred-size: calc(33% - 0.5rem);
        flex-basis: calc(33% - 0.5rem);
    }
}

@media (min-width: 1200px) {
    .four {
        max-width: calc(25% - 0.5rem);
        -ms-flex-preferred-size: calc(25% - 0.5rem);
        flex-basis: calc(25% - 0.5rem);
    }
}

/* Unused but left just incase */
.clamp-6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
