{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_stupid/mobile_block_view

    Mobile view for the stupid block.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
{{=<% %>=}}
<ion-item-divider>
    <h2>Program Schedule</h2>
</ion-item-divider>
<%#presentations%>
<ion-card>
    <core-format-text text="<%image%>">
    </core-format-text>
    <ion-card-content>
        <small><%#userdate%> <%timestart%>, <%#str%> timea, block_mootprogram <%/str%> <%/userdate%> -
    <%#userdate%> <%timeend%>,  <%#str%> timeb, block_mootprogram <%/str%>  <%/userdate%></small>
        <h1>
            <%title%>
        </h1>
        <h2>
            <core-format-text text='<%presenter%>'></core-format-text>
        </h2>
        <p><%description%></p>
        <br/>
        <a ion-button block href='<%link%>' [capture]="true" core-link ><%roomname%></a>
        <%#discussionlink%>
        <a ion-button block href='<%discussionlink%>' [capture]="true" core-link >Discussion</a>
        <%/discussionlink%>
    </ion-card-content>
</ion-card>
<%/presentations%>
<button ion-button block core-site-plugins-new-content title="Schedule" component="block_mootprogram" method="mobile_schedule_view"
        [args]="{first:true}">
    View schedule
</button>