{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="card">
    <img class="card-img-top presentation-image p-3" src="{{imageurl}}" alt="{{imageAlt}}" aria-hidden="true">
    <div class="card-body pt-0">
        <a href="{{sessionurl}}">{{#userdate}} {{timestart}}, {{#str}} strftimerecent {{/str}} {{/userdate}}</a>
        <h5 class="card-title">{{title}}</h5>
        {{#userid}}
            <h6 class="card-subtitle">
                <a href="{{userLink}}">{{presentername}}</a>
            </h6>
        {{/userid}}
        <p class="card-text">{{description}}</p>
        <a href="{{sessionurl}}" class="btn btn-secondary" >{{roomName}}</a><br/>
        <a href="{{discussionlink}}" class="btn btn-secondary mt-2" >{{#str}} discussion, block_mootprogram {{/str}}</a>
        {{#issiteadmin}}
            <a class="btn btn-secondary mt-2" href="{{editUrl}}">{{#str}} editsession, block_mootprogram {{/str}}</a>
        {{/issiteadmin}}
    </div>
</div>
