{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="card">
    <img class="card-img-top presentation-image mb-2" src="{{imageurl}}" alt="{{imageAlt}}" aria-hidden="true">
    <div class="card-body pt-0">
        <small class="text-danger font-weight-bold mb-2">{{#userdate}} {{timestart}}, {{#str}} timea, block_mootprogram {{/str}} {{/userdate}} - {{#userdate}} {{timeend}}, {{#str}} timeb, block_mootprogram {{/str}} {{/userdate}}</small>
        <h4 class="card-title ml-0 font-weight-bold mb-2">{{title}}</h4>
        {{#presenterlist}}
            <h5 class="card-subtitle font-weight-bold mb-2">
                {{{.}}}
            </h5>
        {{/presenterlist}}
        {{^presenterlist}}
            <h5 class="card-subtitle font-weight-bold mb-2">
                <a href="{{userLink}}">{{presentername}}</a>
            </h5>
        {{/presenterlist}}
        {{#institute}}
            <h6 class="card-subtitle font-weight-bold mb-2">{{{.}}}</h6>
        {{/institute}}
        <p class="card-text mt-3">{{description}}</p>
        <a href="{{sessionurl}}" class="btn btn-secondary rounded" >{{roomName}}</a><br/>
        {{#discussionlink}}
            <a href="{{discussionlink}}" class="btn btn-secondary rounded mt-2" >{{#str}} discussion, block_mootprogram {{/str}}</a>
        {{/discussionlink}}
        {{#issiteadmin}}
            <a class="btn btn-secondary rounded mt-2" href="{{editUrl}}">{{#str}} editsession, block_mootprogram {{/str}}</a>
        {{/issiteadmin}}
    </div>
</div>
