<div class="p-4">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <h3> {{#str}} rightnow, block_mootprogram {{/str}} </h3>
            </div>
        </div>
        <div class="row">
            {{#happeningnowrecord}}
                <div class="col-md-3  col-sm-6 d-flex">
                    {{> block_mootprogram/presentation }}
                </div>
            {{/happeningnowrecord}}
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{sponserImg}}" aria-hidden="true" alt="{{#str}} sponseralt, block_mootprogram {{/str}}">
                        <h5 class="card-title">{{#str}} sponsersolutions, block_mootprogram {{/str}}</h5>
                        <p class="card-text mt-3">{{{sponsordesc}}}<br></p>
                        <a class="btn btn-primary" aria-label="{{#str}} navigatesponser, block_mootprogram {{/str}}" href="{{sponserLink}}">{{#str}} visitsponsers, block_mootprogram {{/str}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{cafeImg}}" aria-hidden="true" alt="{{#str}} cafealt, block_mootprogram {{/str}}">
                        <h5> {{#str}} networkingcafe, block_mootprogram {{/str}} </h5>
                        <p class="card-text mt-3">{{{networkingdesc}}}<br></p>
                        <a class="btn btn-primary" aria-label="{{#str}} navigatecafe, block_mootprogram {{/str}}" href="{{networkLink}}">{{#str}} joinnetworking, block_mootprogram {{/str}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row mb-3">
            <div class="col">
                <h2>{{#str}} upcomingsessions, block_mootprogram {{/str}}</h2>
            </div>
        </div>

        <div class="row">
            {{#upcomingrecord}}
                <div class="col-md-3 col-sm-6 d-flex">
                    {{> block_mootprogram/presentation }}
                </div>
            {{/upcomingrecord}}
        </div>
    </div>
</div>
