<ul class="nav nav-tabs mx-1">
    {{#schedule}}
        <li class="nav-item">
            <a class="nav-link {{active}} {{#starpage}} starpagetab {{/starpage}}" data-toggle="tab" href="#tab-{{day}}" {{active}} >{{timestart}}</a>
        </li>
    {{/schedule}}
</ul>

<div class="tab-content" id="myTabContent">
    {{#schedule}}
        <div class="tab-pane {{active}} " id="tab-{{day}}" >
            {{#starpage}}
            {{#nostar}}
               <span class="mt-3"> {{#str}} nostarsessions, block_mootprogram {{/str}} </span>
            {{/nostar}}
            {{/starpage}}

            {{#rows}}
            <h2 class="mt-3">{{#starpage}}{{#userdate}} {{timestart}}, {{#str}} daya, block_mootprogram {{/str}} {{/userdate}}{{/starpage}} {{#userdate}} {{timestart}}, {{#str}} timeb, block_mootprogram {{/str}} {{/userdate}} - {{#userdate}} {{timeend}}, {{#str}} timeb, block_mootprogram {{/str}} {{/userdate}} </h2>

            <div class="d-flex flex-wrap">
                {{#presentation}}
                <div class="d-flex {{classes}} m-1">
                {{> block_mootprogram/presentation }}
                </div>
                {{/presentation}}
            </div>
            {{/rows}}


        </div>
    {{/schedule}}
</div>