<ul class="nav nav-tabs">
    {{#schedule}}
        <li class="nav-item">
            <a class="nav-link {{active}}" data-toggle="tab" href="#{{timestart}}" {{active}}>{{timestart}}</a>
        </li>
    {{/schedule}}
</ul>

<div class="tab-content" id="myTabContent">
          {{#schedule}}
            <div class="tab-pane container {{active}}" id="{{timestart}}" >
               <div class="row p-4">
                {{#presentation}}
                <div class="col-md-3  col-sm-6  d-flex">
                    <div class="card mb-2 profile-card-2">
                        <img class="card-img-top" src="{{imageurl}}" alt="Card image cap" height="150px">

                        <div class="card-body">
                            <a href="{{sessionurl}}" class="a-color">{{#userdate}} {{timestart}}, {{#str}} strftimerecent {{/str}} {{/userdate}}</a>
                            <h5 class="card-title">{{title}}</h5>

                            <h6 class="card-subtitle">
                                {{#userid}}
                                    <a href="https://events.moodle.com/user/profile.php?id={{userid}}">
                                {{/userid}}
                                {{presentername}}
                                {{#userid}}
                                    </a>
                                {{/userid}}
                            </h6>
                            <p class="card-text mt-3">{{description}}</p>
                            <a href="{{sessionurl}}" class="btn btn-secondary" >Session</a><br/>
                            <a href="{{discussionlink}}" class="btn btn-secondary mt-2" >Discussion</a>
                            {{#issiteadmin}}
                                <a href="https://events.moodle.com/blocks/mootprogram/edit.php?id={{id}}">Edit session</a>
                            {{/issiteadmin}}
                        </div>
                    </div>
                </div>
                {{/presentation}}
                </div>
            </div>
        {{/schedule}}

</div>

