<ul class="nav nav-tabs">
    {{#schedule}}
        <li class="nav-item">
            <a class="nav-link {{active}}" data-toggle="tab" href="#{{timestart}}" {{active}}>{{timestart}}</a>
        </li>
    {{/schedule}}
</ul>

<div class="tab-content" id="myTabContent">
    {{#schedule}}
        <div class="tab-pane {{active}}" id="{{timestart}}" >
           <div class="row py-4">
                {{#presentation}}
                    <div class="col-md-3  col-sm-6  d-flex">
                        {{> block_mootprogram/presentation }}
                    </div>
                {{/presentation}}
            </div>
        </div>
    {{/schedule}}
</div>

