{{#schedule}}
    <div class="row p-4">
        <div class="col-2">
            <h1><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{#userdate}}{{timestart}}, {{#str}} strftimerecent {{/str}}{{/userdate}}
            </h1>
        </div>
        {{#presentation}}
            <div class="col">
                <div class="card profile-card-2">
                    <div class="card-img-block">
                        {{#imageurl}}
                            <img class="img-fluid" src="{{imageurl}}" alt="session image">
                        {{/imageurl}}
                        {{^imageurl}}
                            <img class="img-fluid" src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=1024" alt="Card image cap">
                        {{/imageurl}}
                    </div>
                    <div class="card-img-overlay">
                        <h4 style="color:#F98012;"> {{title}} </h4>
                        <h5>{{institute}}</h5>
                    </div>
                    <div class="card-body pt-5">
                        {{#userid}}<a href="https://events.moodle.com/user/profile.php?id={{userid}}">{{/userid}}
                        {{#userpictureurl}}
                            <img src="{{userpictureurl}}" alt="profile-image" class="profile">
                        {{/userpictureurl}}
                        {{^userpictureurl}}
                            <img src="https://events.moodle.com/pluginfile.php/5/user/icon/workplace/f1" alt="profile-image" class="profile">
                        {{/userpictureurl}}
                        <h5 class="card-title">{{presentername}}</h5>
                                {{#userid}}</a>{{/userid}}
                        <p class="card-text">{{description}}</p>
                        <a class="call-btn" href="{{sessionurl}}"> Link to the <strong>session</strong> </a>
                        <br/>
                        <a class="call-btn" href="{{discussionlink}}"> Link to the <strong>discussion</strong> </a>
                    </div>
                </div>
            </div>
        {{/presentation}}
    </div>
{{/schedule}}