@import "../../../theme/boost/scss/bootstrap/_functions";
@import "../../../theme/boost/scss/bootstrap/_variables";
@import "../../../theme/boost/scss/bootstrap/_mixins";
.presentation-image {
    height: 300px;
    object-fit: cover;
}

.four,
.three,
.two,
.one {
    // 4 items.
    flex-basis: calc(100% - 0.5rem);
}

@include media-breakpoint-up(sm) {
    .four,
    .three,
    .two {
        flex-basis: calc(50% - 0.5rem);
    }
}

@include media-breakpoint-up(lg) {
    .four,
    .three {
        flex-basis: calc(33% - 0.5rem);
    }
}

@include media-breakpoint-up(xl) {
    .four {
        flex-basis: calc(25% - 0.5rem);
    }
}

/* Unused but left just incase */
.clamp-6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
